﻿@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Тестовое задание</h1>
        <h2>Серверная часть</h2>
        @if (ViewBag.Init)
        {
            <p><a href="@Url.Action("Initialise","Account")">Инициализация списка пользователей</a>.</p>
        }
        else
        {
            <p>@ViewBag.InitText</p>
            <p>Список пользователей инициализирован.</p>
        }
    </div>
